@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Arvo:ital@1&family=Mouse+Memoirs&family=Pacifico&family=Shrikhand&family=Silkscreen&display=swap');





/* ---------------------------------------------------- HEADER---------------------------------------------------- */


#header{
    background-color:#F6E3DF;
}

#logo{
    font-family: 'Shrikhand', cursive;
    color: #D4908E;
    animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) .3s both
}


.pestañas a{
    color: #D4908E;
    animation:slide-in-left .7s cubic-bezier(.25,.46,.45,.94) both
}

.dropdown-menu{
    animation:slide-in-top .6s cubic-bezier(.25,.46,.45,.94) both
}


/* ---------------------------------------------------- HEADER---------------------------------------------------- */



/* ---------------------------------------------------- MAIN---------------------------------------------------- */

#bienvenidos{
    background-color: #F6E3DF;
    color: #D4908E;
    font-family: 'Arvo', serif;
    animation:color-change-2x 10s linear infinite alternate both
   
}

.hero{
    background-image:url(./fotos/fondobody.jpg);
    height: 90vh;
}

.miranos{
    background-color: #F6E3DF;
}

#miralo{
    color: #D4908E;
    font-family: 'Arvo', serif;
     
}

#muestra1{
    height: 250px;
}

h5{
    font-family: 'Mouse Memoirs', sans-serif;
}
.card-text{
    font-family: 'Arvo', serif;
}

#body-index{
    background-image: radial-gradient(circle,#F6E3DF , #ebb2af,#8f6968);;
}


/* ---------------------------------------------------- MAIN---------------------------------------------------- */


/* ---------------------------------------------------- MAIN QUIENES SOMOS---------------------------------------------------- */

.footer{
    height: 10vh;
}

#body-quienes{
    background-image:radial-gradient(circle,#F6E3DF , #ebb2af, #eb7c76 );
}
.titulos{
    font-family: 'Arvo', serif;
    
}
.parrafo-texto{
    font-family: 'Mouse Memoirs', sans-serif;
}

#parrafo-quienes{
    background-color: #f8c1bf;
    border: 4px solid black;
    border-radius: 25px;
    padding: 10px;
}
#parrafo-zona{
    background-color: #f8c1bf;
    border: 4px solid black;
    border-radius: 25px;
    padding: 10px;
}






/* ---------------------------------------------------- MAIN QUIENES SOMOS---------------------------------------------------- */

/* ---------------------------------------------------- MAIN CONTACTO---------------------------------------------------- */


#body-contacto{
    background-image: radial-gradient(circle,#F6E3DF , #ebb2af, #eb7c76 );
}

.contactanos{
    font-family: 'Arvo', serif;
    color:black;
}

.parrafo-contacto{
    background-color: #F6E3DF;
}

div label{
    font-family: 'Arvo', serif;
}

legend{
    font-family: 'Arvo', serif;
}

#nombre{
    background-color: #F6E3DF;
}

#mail{
    background-color: #F6E3DF;
}

#comentario{
    background-color: #F6E3DF;
}

/* ---------------------------------------------------- MAIN CONTACTO---------------------------------------------------- */

/* ---------------------------------------------------- MAIN COMO COMPRAR---------------------------------------------------- */
#body-como-comprar{
    background-color: #D4908E;
    
}

#titulo-como-comprar{
    font-family: 'Arvo', serif;
}



/* ---------------------------------------------------- MAIN COMO COMPRAR---------------------------------------------------- */


/* ---------------------------------------------------- MAIN PRODUCTOS---------------------------------------------------- */

#body-productos{
    background-image: radial-gradient(circle,#F6E3DF , #ebb2af, #eb7c76 );
}


h3{
    color:#D4908E ;
    font-family: 'Shrikhand', cursive;
    background-color: #F6E3DF;
}



/* ---------------------------------------------------- MAIN PRODUCTOS---------------------------------------------------- */




















/* ---------------------------------------------------- FOOTER---------------------------------------------------- */


#footer{
    background-color:#F6E3DF ;
}
#seguinos{
    font-family: 'Shrikhand', cursive;
    color: #D4908E;
}



.fa-twitter{
    color: #D4908E;
}
.fa-twitter:hover{
    color: #1D9BF0;
}



.fa-facebook{
    color: #D4908E;
}
.fa-facebook:hover{
color:#166FE5 ;
}


.fa-instagram{
    color: #D4908E;
}
.fa-instagram:hover{
    color: #E980E2;
}



.fa-whatsapp{
    color: #D4908E;
}
.fa-whatsapp:hover{
    color: #00A884;
}

/* ------------FOOTER QUIENES------------ */
#footer-quienes{
    background-color: #F6E3DF;
    padding: 20px;
    margin-top: 113px;
}
/* ------------FOOTER QUIENES------------ */

/* ------------FOOTER COMO COMPRAR------------ */
#footer-como-comprar{
    background-color: #F6E3DF;
    padding: 20px;
    margin-top: 131px;
}

/* ------------FOOTER COMO COMPRAR------------ */
#footer-prod{
    background-color: #F6E3DF;
    padding-top: 10px;
    margin-top: 30px;
}


/* ---------------------------------------------------- FOOTER---------------------------------------------------- */


/* ----------------------------------------------------ANIMACION HEADER Y FOOTER---------------------------------------------------- */

@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}

@keyframes slide-in-top{0%{transform:translateY(-1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
/* ---------------------------------------------------- ANIMACION HEADER Y FOOTER---------------------------------------------------- */





/* ---------------------------------------------------- ANIMACION MAIN INDEX---------------------------------------------------- */

@keyframes color-change-2x{0%{background:#19dcea}100%{background:#b22cff}}









/* ---------------------------------------------------- ANIMACION MAIN INDEX---------------------------------------------------- */